.bright {
    Color: blue;
    border: 1px;
    text-align: center;
}

.P {
    color:grey;
    margin: 2em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(148, 132, 132);
    color: white;
    text-align: center;
 }